.CAH__header {
    display: flex;
    align-items: center;
}
.CAH__header__padding{
    padding-top: 1rem;
    align-items: center;
}
.CAH__header-content{
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    text-align: center;
    margin: 0 auto;


}
.CAH__header-content h1 {
    font-family: "Courier New";
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    justify-content: center;
    margin: 0;
    align-items: center;
}
@media screen and (max-width: 768px) {
    CAH__header-content h1{
    margin-left: 2rem;
}
}

@media screen and (max-width: 480px) {
    CAH__header-content h1{
    margin-left: 1rem; /* Angepasster Wert für die linke Marge auf noch kleineren Bildschirmen */
}
}
.CAH__header-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: black;
    margin-top: 1.5rem;

}
@media screen and (max-width: 1050px){
    .CAH__header{
        flex-direction: column;
    }
    .CAH__header-content{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 650px){
    .CAH__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .CAH__header p{
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 490px){
    .CAH__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .CAH__header p{
        font-size: 14px;
        line-height: 24px;
    }
}