.CAH__header {
    display: flex;
    align-items: center;
    background: url('../../assets/cstark_200623_0906_CAH_0004.0.jpg') center/cover no-repeat;
}

.CAH__header__padding {
    padding-top: 1rem;
    align-items: center;
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 100vh;
}

.CAH__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
    margin-right: 5rem;
    text-align: center;
    margin: 0 auto;
}

.CAH__header-content h1 {
    font-family: "Courier New";
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    justify-content: center;
    margin: 0;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .CAH__header-content h1 {
        font-size: 36px;
        line-height: 48px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .CAH__header-content h1 {
        font-size: 24px;
        line-height: 36px;
        margin-left: 0;
        margin-right: 0;
    }
}

.CAH__header-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-top: 1.5rem;
}

@media screen and (max-width: 1050px) {
    .CAH__header {
        flex-direction: column;
        height: auto;
    }

    .CAH__header-content {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 650px) {
    .CAH__header p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 490px) {
    .CAH__header p {
        font-size: 12px;
        line-height: 18px;
    }
}
