.CAH__footer-section__padding{
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
    color: white;
}
.gradient__text {
    font-weight: 700;
}
.CAH__footer-down-section {
    font-weight: 500;
}
.CAH__footer-content-dev{
    font-weight: 700;
}
@media screen and (max-width: 1050px){
    .CAH__footer-section__padding{
        flex-direction: column;
    }
    .gradient__text{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width: 650px){
    .CAH__footer-section__padding{
        font-size: 48px;
        line-height: 60px;
    }
    .gradient__text{
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 490px){
    .CAH__footer-section__padding{
        font-size: 36px;
        line-height: 48px;
    }
    .gradient__text{
        font-size: 14px;
        line-height: 24px;
    }
}