.CAH__footer-section__padding{
    background-color: crimson;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
    color: white;
}
.gradient__text {
    font-weight: 700;
}
.CAH__footer-down-section {
    font-weight: 500;
}
.CAH__footer-content-dev{
    font-weight: 700;
}